---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';



type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}

			.promo-box {
			display: block;
			background: linear-gradient(135deg, #558A36, #A8D08D);
			padding: 1rem 1.5rem;
			border-radius: 12px;
			margin: 2rem 0;
			text-align: center;
			box-shadow: 0 4px 12px rgba(0,0,0,0.1);
			transition: transform 0.2s, box-shadow 0.2s;
			text-decoration: none;
			color: white;
			}

			.promo-box a {
			color: white;
			font-weight: bold;
			text-decoration: none;
			font-size: 1rem;
			}

			@media (max-width: 720px) {
   
    
			.hero-image img {
				border-radius: 8px;
			}
			
			.prose {
				width: 100%;
				padding: 0.5em;
			}

			

.promo-box:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}
		}
		</style>
	</head>

	<body>
		<Header />
		<div class="content-wrapper">
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <Image width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>

			<a href="/helper" class="promo-box">
				<div>
				  <p>Like this content? Support it!</p>
				</div>
			  </a>
			  
			  
		</main>
		<Sidebar/>
		</div>
		<Footer />
	</body>
</html>
